* {
font-style: "normal,italic";
}

.background{
    background-color: rgb(230, 187, 85);
}

a{
    text-decoration: underline;
    font-weight: bold;
    color: white;
}

li{
    display: inline; 
}

#header{
    background-color: rgb(7, 31, 253);
    text-align: right;
    padding: 10px;
}

#pic{
    background-color: rgb(111, 150, 150);
    padding: 10%;
    border: 10px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#footer{
    background-color: rgb(7,31,253)/*rgb(187, 152, 72)*/;
    text-align: center;
    padding: 10px;    
}
/*
display: inline;background-color: rgb(26, 30, 240);*/